*{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(black ,  #BFA89E) ;
    height: 100vh;
    overflow: hidden;
 }


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;    
    height:auto;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(90deg, #000, #fff,#000);
    background-repeat: no-repeat;
    animation: animate 5s linear infinite;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
@keyframes animate{
    0%{
        background-position: -500%;
    }
    100%{
        background-position: 500%;
    }
}
.user-input {
    display: flex;
    justify-content: center;
}

.open-score {
    width: 100%;
}

.overlay{
    display: 'none';    
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15em;
    background-color: orange;
    border: black 1px solid;
    position: absolute;
}

svg {
    margin:2em;
}

.svg-hanger{
 position: relative; 
}

/* Style underline */
#correctList, #wrongList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 1vh;
}

#wrongList {
    color: #780c0c ;
    padding: 0 0.2em;
}

#word li {
    list-style: none;
    margin: 0;
    padding: 0 0.2em;
    font-size:3em;   
}

  /* Restart button */
  #restart {
    cursor: pointer;
  }

