*{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background : linear-gradient( black , #BFA89E) ;
    height: 100vh;
    font-family: "Creepster" ;
    font-size: 1em;

   
}
body::-webkit-scrollbar{
    display: none;
  }




header {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 40%;
    height: 100px;
    position: fixed;
    top: 20px;
    border-radius: 2em;
    padding: 2em;
    box-shadow: 10px 10px 10px rgba(0 , 0,0, 0.3) ;
}

<<<<<<<<< Temporary merge branch 1
main {
    overflow: hidden;
    height: calc(100vh - 100px);
    overflow: auto;
    position: relative;
    top: 50px;
}

=========
>>>>>>>>> Temporary merge branch 2
footer {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 30%;
    height:auto;
    padding: 1em;
    border-radius: 1rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 20px;
    
}

svg {
    width: 300px;
    height: 250px;
}

<<<<<<<<< Temporary merge branch 1
.correct_letters{
    width: 100em;
    
    text-align: center;
    text { font-size: 4vw; }
}

=========
/* Style underline */
#correctList, #wrongList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#wrongList {
    color: #780c0c
}

#my-word li {
    list-style: none;
    margin: 0;
    padding: 0 10px;
    font-size:3em;
  }

>>>>>>>>> Temporary merge branch 2
@media screen and (max-width: 999px) and (min-width:600px) {
    svg {
        width: 500px;
        height: 450px;
    }
}

@media screen and (min-width:1000px) {
    svg {
        width: 700px;
        height: 550px;
    }
}