* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #d9dbf7;
    height: 100vh;
    overflow: hidden;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 10vh;
    margin-bottom: 8em;
}

/* Gametitle */
h1 {
    width: 100%;
    font-size: 4em;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(90deg, #d9dbf7, #1c1c1c, #d9dbf7);
    background-repeat: no-repeat;
    animation: animate 5s linear infinite;
    background-size: 90%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}

/* input av username */
.user-input {
    display: flex;
    justify-content: center;
}

/* Container för input */
.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* MAIN ---------------------------------------- */
main{
    height: 80vh;
}

.hung-screen {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    background-color: white;
    border: red 2px solid;
}

.win-screen {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    background-color: white;
    border: green 2px solid;
}

/* Hangman */
svg {
    width: 400px;
    height: auto;
}

/* Restart button */
#restart, #userBtn, .open-score {
    background-color: #d9dbf7;
    color: #0b0976;
    border:2px solid #0b0976;
    padding:0.5em;
    border-radius: 0.4em;
    font-weight: bold;
    font-size: 1.5em;
}

#userInput{
    margin-right: 0.5em;
    font-size: 1.4em;
}

#restart:hover, #userBtn:hover, .open-score:hover {
    cursor: pointer;
    box-shadow: 1px 1px 6px #575252;
    background-color: #fafcfc;
}

/* .open-score {
    width: 100%;
} */

/* Scoreboard */
.overlay {
    display: 'none';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 15em;
    background-color: #e7e0d4;
    border: #000000 1px solid;
    position: absolute;
}

/* Style underline */
#correctList,
#wrongList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 1vh;
    margin: 0 3em;
}

#wrongList {
    color: #780c0c;
    padding: 0 0.2em;
}

#word li {
    list-style: none;
    margin: 0;
    padding: 0 0.2em;
    font-size: 3em;
}

/* Restart button */
#restart {
    cursor: pointer;
}

@media ( max-width: 400px) {
    h1{
        font-size: 2em;
    }
    svg{
        width: 300px;
    }
}


