* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    color: #090909;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #448a81;
    width: 100%;
    height: 5em;
}

h1 {
    text-align: center;
    font-size: max(3vw, 2em, 2rem);
    padding-top: 0.5em;
    background-color: #448a81;
    width: 100%;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
}

.menu {
    grid-row: 1;
    display: flex;
    margin-top:1em;
    flex-wrap: wrap;
    justify-content: center;
}

.game-container {
    grid-row: 2;
    max-height: 500px;
    margin:3em;
    display: flex;
    justify-content: center;
}

svg {
    width: max(20vw, 10em, 10rem);
}

/* Style underline */
#correctList,
#wrongList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 1vh;
    margin: 0 3em;
}

#wrongLetter {
    font-size: max(4vw, 2em, 2rem);
    color: #d20a0a;
    padding: 0 0.2em;
    text-align: center;
}

#word li {
    list-style: none;
    margin: 0;
    padding: 0 0.2em;
    font-size: max(3vw, 2em, 2rem);
}

#submit,
#scorebtn,
#sort,
#reset {
    background-color: #448a81;
    color: #ffffff;
    border: 1px solid #346a64;
    padding: 0.5em;
    border-radius: 0.4em;
    font-weight: bold;
    margin-right:0.2em;
    font-size: 1.2em;
    box-shadow: 1px 1px 3px #363535;
    box-shadow: inset 1px 2px 4px #2e2e2e;
    transition: background-color 0.3s;
}

#submit:hover,
#scorebtn:hover,
#sort:hover,
#reset:hover {
    cursor: pointer;
    color: #346a64;
    background-color: #fafcfc;
    box-shadow: 1px 2px 3px #363535;
}

.user-popup {
    display: block;
}


.popup-container {
    background-color: #0000004d;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: #e1e5e8;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px #0000001a;
    padding: 20px;
    text-align: center;
    border:5px solid #29bba2;
}

.popup button {
    cursor: pointer;
    background-color: #448a81;
    color: #ffffff;
    border: 1px solid #346a64;
    border-radius: 0.4em;
    font-weight: bold;
    box-shadow: 1px 1px 3px #363535;
    box-shadow: inset 1px 2px 4px #2e2e2e;
    transition: background-color 0.3s;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
}

.popup button:hover {
    cursor: pointer;
    color: #346a64;
    background-color: #fafcfc;
    box-shadow: 1px 2px 3px #363535;
}

.popup button:active {
    transform: scale(0.98);
}

.popup button:focus {
    outline: 0;
}

.scoreboard {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -100px;
    width: 200px;
    height: 300px;
    background-color: #fcfeff;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px #0000001a;
    padding: 20px;
    text-align: center;
    border:5px solid #29bba2;
}

@media ( min-width: 890px) {

    #submit,
    #scorebtn,
    #sort,
    #reset {
        padding: 0.5em;
        font-size: 1.5em;
      
    }
    #username{
    font-size: 1.5em;
}
}